<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.aikefu_bot02.mapper.AdminOperationLogMapper">

    <resultMap id="BaseResultMap" type="org.example.aikefu_bot02.entity.AdminOperationLog">
            <id property="id" column="id" />
            <result property="adminId" column="admin_id" />
            <result property="module" column="module" />
            <result property="action" column="action" />
            <result property="resourceType" column="resource_type" />
            <result property="resourceId" column="resource_id" />
            <result property="ip" column="ip" />
            <result property="beforeJson" column="before_json" />
            <result property="afterJson" column="after_json" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,module,action,resource_type,resource_id,
        ip,before_json,after_json,created_at
    </sql>
</mapper>
