<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.aikefu_bot02.mapper.KnowledgeChunkMapper">

    <resultMap id="BaseResultMap" type="org.example.aikefu_bot02.entity.KnowledgeChunk">
            <id property="id" column="id" />
            <result property="documentId" column="document_id" />
            <result property="chunkIndex" column="chunk_index" />
            <result property="content" column="content" />
            <result property="tokenCount" column="token_count" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,document_id,chunk_index,content,token_count,created_at
    </sql>
</mapper>
