<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.aikefu_bot02.mapper.StatDailySummaryMapper">

    <resultMap id="BaseResultMap" type="org.example.aikefu_bot02.entity.StatDailySummary">
            <id property="id" column="id" />
            <result property="statDate" column="stat_date" />
            <result property="channel" column="channel" />
            <result property="sessionCount" column="session_count" />
            <result property="messageCount" column="message_count" />
            <result property="userMessageCount" column="user_message_count" />
            <result property="transferCount" column="transfer_count" />
            <result property="avgResponseMs" column="avg_response_ms" />
            <result property="satisfactionAvg" column="satisfaction_avg" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,stat_date,channel,session_count,message_count,user_message_count,
        transfer_count,avg_response_ms,satisfaction_avg,created_at
    </sql>
</mapper>
